/*          UTILITY*/
body{font-family: Arial, Helvetica, sans-serif !important;}
.clear-100{max-width: 100% !important;}



/*          HEADER*/

.site_header img{width: 120px;}
.site_header .ps_logo{width: 50px;}
.jumbotron{
    background-image: url(/assets/img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

/*          MAIN*/

.jumbotron img  {width: 250px;}
.cards     img  {border-radius: 20px;}
.info_ps5  img,  
.explore   img,
.plus_april img,
.sales img,
.ps_now img,
.social img
{width: 100%;}
.it_banner{
    background: url(/assets/img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.it_banner img,
.psn img
{width: 40%;}
.news img       {
    width: 100%;
    border-radius: 20px;
}
.ps_plus .card-body img{width: 50%;}
footer img{width: 150px;}


